<div class="flex w-screen h-screen overflow-y-auto overflow-x-hidden">
    <div class="w-[100px] h-screen bg-slate-950 text-slate-50">
        <div class="h-[10vh] w-full flex items-center justify-center p-5">
            <a href="/" class="material-icons">home</a>
        </div>
        <div class="h-[80vh] w-full p-5 flex flex-col gap-3 items-center justify-start overflow-y-auto">
            <a href="courses" class="material-symbols-outlined">book</a>
            <a href="courses/1/lessons" class="material-symbols-outlined">library_books</a>
        </div>
        <div class="h-[10vh] w-full flex items-center justify-center p-5">
            <a href="courses/settings" class="material-symbols-outlined">settings</a>
        </div>
    </div>
    <div class="custom-width bg-slate-100 shadow-inner"
        style="--custom-px: {{custom_inner_pane_px}}px; --custom-vw: 100vw;">
        <div class="h-[10vh] w-full bg-slate-100 flex items-center justify-between p-5 gap-2">
            <div class="flex-grow flex flex-col gap-3">
                <span class="font-black text-[30px]">Hello Buddy</span>
                <span class="font-thin text-[18px]">Let's learn something new today</span>
            </div>
            <form
                class="relative flex items-center justify-center bg-white p-2 rounded-lg shadow-md w-auto min-w-[300px]"
                action="courses/search">
                <span class="material-icons"></span>
                <input type="text" (input)="onSearchInput($event)" placeholder="Search for a course" class="flex-grow outline-none" />
                <button class="material-icons">search</button>
                <div *ngIf="searchSuggestions"
                    class="absolute left-0 right-0 top-[110%] p-3 shadow-md rounded-lg h-[40vh] bg-white border-slate-200 border-1 w-full overflow-y-auto">

                </div>
            </form>
            <span class="material-symbols-outlined bg-white p-2 rounded-lg shadow-md cursor-pointer">notifications</span>
        </div>
        <div class="p-5 h-[90vh] overflow-y-auto overflow-x-hidden">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div *ngIf="!hasCustomSidebar && showSideBar" class="w-[300px] h-screen bg-slate-950 text-slate-50"></div>
</div>