<div *ngIf="showChat" class="w-[300px] h-[45vh] fixed bottom-3 p-2 right-2 bg-slate-900 text-white flex flex-col rounded-md">
    <div class="flex justify-between items-center border-b-1 border-slate-100 py-2">
        <div></div>
        <div class="material-symbols-outlined cursor-pointer" (click)="showChat = false">close</div>
    </div>
    <div class="flex-grow"></div>
    <div>
        Chat bottom
    </div>
</div>
<div *ngIf="!showChat" class="material-symbols-outlined fixed bottom-3 right-2 bg-slate-900 text-white rounded-full shadow-lg p-5 cursor-pointer" (click)="showChat = true">chat</div>