<div class="bg-red-50 hover:shadow-lg my-2 rounded-lg p-2 flex items-center justify-center gap-3 w-[100%]" role="button" (click)="loadCourse(course.id)">
    <div class="w-[50px] h-[50px] rounded-full bg-center bg-cover bg-no-repeat"
        style="background: url('{{ course.poster}}')"></div>
    <div class="flex-grow gap-2 flex align-items-start justify-content-center flex-col">
        <span class="font-bold">{{ course.name}}</span>
        <span>by {{ course.organizer.name }}</span>
    </div>
    <div class="font-bold">6h 20min</div>
    <div>{{ course.rating }}</div>
    <div class="">
        <a href="/courses/{{ course.id }}"
            class="text-decoration-none text-slate-50 hover:text-slate-400 bg-slate-950 hover:bg-slate-800 rounded-md px-3 py-2">Continue</a>
    </div>
</div>